<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brian Ruddy</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,300italic" rel="stylesheet" type="text/css">

        <!--<link rel="stylesheet" href="/css/bootstrap.css"/>-->
        <!--<link rel="stylesheet" href="/css/font-awesome.css"/>-->
        <!--<link rel="stylesheet" href="/css/style.css"/>-->
        <link rel="stylesheet" href="/bundles/app.css" />

        {{{block 'styles'}}}
    </head>
    <body>
        <section class="jumbotron margin40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="">Brian Ruddy</h1>
                        <p class="lead">Software Engineer - Raleigh, NC</p>
                    </div>
                </div>
            </div>
        </section>

        <div id="view-wrapper">
            {{{body}}}
        </div>

        <footer class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center social-icons">
                        <a href="https://github.com/bcruddy" rel="nofollow" target="_blank"><i class="fa fa-2x fa-github"></i></a>
                        <a href="https://twitter.com/bcruddy" rel="nofollow" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
                        <a href="https://linkedin.com/in/bcruddy" rel="nofollow" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
                        <a href="https://stackoverflow.com/users/2624101/brian" rel="nofollow" target="_blank"><i class="fa fa-2x fa-stack-overflow"></i></a>
                    </div>
                </div>
            </div>
        </footer>

        <!--<script src="/js/global.js"></script>-->
        <script src="/bundles/app.js"></script>
        {{{block 'scripts'}}}
    </body>
</html>
