<section class="container-fluid margin40 view-wrapper" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">About</h3>
                <p>
                    I like to build things and learn new technologies.
                    I've been creating software for 4 years - from simple websites to SaaS development consuming cloud based services like Amazon Web Services and Google Cloud.
                    Most of my time is spent with html/css/javascript all the way back to MSSQL/MySQL databases.
                </p>
                <p>
                    I love creating software.
                    Seeing the business application of that software is leading me down a path where I see my code providing concrete data on which business decisions are based, and I'm excited about that.
                    I'm passionate about automating the systems I build and maintain to reduce human error.
                    It's becoming a larger and larger part of my day to day.
                </p>
                <p>
                    I'm currently employed at Photofy, where we're working to change the way the world creates and shares photos.
                    Photofy is an API driven mobile application supporting Android, iOS, and web-based platforms serving tens of thousands of users daily.
                </p>
            </div>
        </div>
    </div>
</section>