<section class="container-fluid margin40 view-wrapper" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section>