<section class="container-fluid margin40 view-wrapper" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Blog Posts</h3>
                <ul>
                    <li>
                        <a href="/blog/make-front-end-great-again">
                            Make front end great again
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
