<section class="container-fluid margin40 view-wrapper" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Make front end great again</h2>
                <p>This super cool widget does a thing.</p>
                <p>The thing is (revolutionary|amazing|brilliant|simple) solution for [x problem].
            </div>
        </div>
    </div>
</section>
